// Colors
$c-fever-blue-dark: #225193;
$c-fever-blue-light: #479cd5;
$c-fever-yellow: #ffdb00;
$c-fever-orange: rgb(253, 156, 20);
$c-black: #252525;
$c-white: #fff;
$c-white-off: #efefef;

// Typography
$f-montserrat: "Montserrat", sans-serif;
$f-roboto: "Roboto", sans-serif;

// Breakpoints
$b-mobile: 672px;
$b-tablet: 990px;
$b-desktop: 1296px;

